@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg-black: #0f0f0f;
  --bg-white: #fff;
  --bg-grey: #222222;
  --bg-active: #272727;
  --border-grey: #9c9c9c;
  --border-grey_2: #303030;
  --border-bottom: #3F3F3F;
  --border-white: #fff;
  --text-grey: #9c9c9c;
  --text-white: #fff;
  --text-black: #000;
  --hover-bg: #272727;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}
body {
  background: var(--bg-black);
}
a,
i {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-white);
}
.navbar {
  margin: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu_bar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu_bar-logo a {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 23px;
  font-weight: 500;
}
.menu_bar-logo a img {
  width: 30px;
}
.menu_bar {
  cursor: pointer;
}
input {
  outline: none;
  background: transparent;
  border-radius: 30px 0 0 30px;
  border: none;
  font-size: 18px;
  color: var(--text-white);
  width: 500px;
  padding: 0 20px;
}
.search_section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search_part {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--border-grey_2);
  overflow: hidden;
}
.micro {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg-grey);
}
.search_svg {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--bg-grey);
}
.logo img {
  width: 100px;
}
.account {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon {
  width: 25px;
  height: 25px;
}
.profile {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guide-content {
  max-width: 230px;
  max-height: 715px;
  overflow-y: scroll;
  position: sticky;
  margin: 0 10px;
}
.active {
  background: var(--bg-active);
}
.guide {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-bottom);
}
.guide div {
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.guide div:hover {
  background: var(--hover-bg);
}